<footer class="content-footer footer bg-white">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        
@*         <div class="mb-2 mb-md-0">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            <span class="text-primary">  RMS  </span>
            . All rights reserved.
           
        </div>
        <span class="text-primary"> V 1.0.0</span>

    </div> *@
</footer>