<!-- Logo -->
<a href="#" class="app-brand-link w-100 d-flex justify-content-center mb-3">
    <span class="app-brand-logo demo">
        <img src="~/assets/img/images.png"
             alt="building-img"
             class="d-block rounded"
             height="40"
             width="40"
             id="Logo-pic" />
    </span>
    <h5 class="demo menu-text fw-bolder ms-1 my-2 mt-3 text-uppercase text-info">
        Grocery Store
    </h5>
</a>
<!-- /Logo -->