@{
    ViewData["Title"] = "About Us";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <partial name="_Alerts" />

    <div class="card">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <!--Description-->
            <p>
                <h4>
                    Welcome to Online Grocery Store
                </h4>
                At Online Grocery Store, we are passionate about empowering individuals with diverse talents in fields such as mehndi artistry, makeup artistry, custom dress design, culinary arts, housekeeping, physiotherapy, and tailoring. Our platform is more than just a website; it's a community that celebrates the variety of groceries and essentials provided by our sellers.
            </p>
            <p>
                <h4>
                    Our Development Team
                </h4>
                Sagar Parmar <span class="text-info">Rollno. 8879609</span> <br />
                Anila Prabhakaran Nair Mallika <span class="text-info">Rollno. 8879498</span> <br />
                Harpreet Singh  <span class="text-info">Rollno. 8864122</span>
            </p>
            <p>
                <h4>
                    Our Mission
                </h4>
                Our mission is to create a convenient and inclusive space where sellers can showcase their variety of groceries, connect with users, and build successful businesses. We believe in the power of providing a platform for financial independence and professional growth for individuals across various fields.
            </p>
            <p>
                <h4>
                    What Sets Us Apart
                </h4>
                Online Grocery Store is not just an ordinary online marketplace; it's a movement. We prioritize the safety and success of our sellers by connecting them with users who appreciate the quality and diversity of their offerings. We understand the importance of variety in groceries, and we are committed to breaking barriers and promoting equality in the online grocery landscape.
            </p>
            <p>
                <h4>
                    Our Variety of Groceries
                </h4>
                Explore a wide range of groceries and essentials provided by our sellers, including fresh produce, pantry staples, specialty items, household supplies, personal care products, and much more.
            </p>
            <p>
                Thank you for being part of the Online Grocery Store community!
            </p>
        </div>

    </div>

</div>
