@using System.Security.Claims;
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row d-flex justify-content-center">

        <partial name="_Alerts" />

            <div class="col-md-10">
                <div class="card">
                    <div class="card-header d-flex justify-content-center">
                    <h3 class="m-0 me-2 text-info">
                        Welcome to Grocery Store
                    </h3>
                    </div>
                    <div class="card-body">
                    At our store, we're dedicated to providing you with a seamless and convenient shopping experience right at your fingertips.
                    Whether you're looking for fresh produce, pantry staples, or specialty items, we've got you covered.
                    <br />
                    Browse our extensive selection, personalize your shopping experience, and enjoy hassle-free delivery straight to your doorstep.
                    With user-friendly navigation and secure transactions, shopping with us is easy and enjoyable.
                    <br />
                    Thank you for choosing our Grocery Store. We're excited to serve you and help you make every meal delicious and satisfying.
                    Happy shopping!
                </div>
                </div>
            </div>

    </div>
</div>
