@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <!-- Bordered Table -->

    <partial name="_Alerts" />

    <div class="card">

        <div class="card-body">
            <!--Description-->
            <div>
                <h4>Privacy Policy:</h4>
                <div class="mx-3">
                    <h5>1. Introduction:</h5>
                    This Privacy Policy governs how the Grocery Store web application collects, uses, maintains, and discloses information obtained from users.
                    <h5 class="mt-3">2. Information Collection:</h5>
                    Personal Identification Information: We may collect users' personal identification information, such as name, email address, and contact details, when they register on the application.
                    Non-Personal Identification Information: Whenever users interact with the application, we may collect non-personal identification information, including browser name, device type, and technical details about their connection.

                    <h5 class="mt-3">3. Information Usage:</h5>
                    We may collect and utilize users' personal information for the following purposes:
                    - Personalizing user experience based on preferences and needs.
                    - Improving customer service by efficiently responding to inquiries and support needs.
                    - Sending periodic emails containing relevant information and updates.

                    <h5 class="mt-3">4. Information Protection:</h5>
                    We implement appropriate data collection, storage, and processing practices to safeguard users' personal information, including usernames, passwords, transaction details, and data stored on our application, against unauthorized access, alteration, disclosure, or destruction.

                    <h5 class="mt-3">5. Sharing Personal Information:</h5>
                    We do not sell, trade, or rent users' personal identification information to others. However, we may share generic aggregated demographic information, not linked to any personal identification information, with trusted affiliates, business partners, and advertisers for the outlined purposes.

                    <h5 class="mt-3">6. Third-Party Websites:</h5>
                    Users may encounter advertising or other content on our application that links to websites and services of third parties. We do not control the content or practices of these linked websites and are not responsible for their actions or policies.

                    <h5 class="mt-3">7. Changes to the Privacy Policy:</h5>
                    We reserve the right to update this Privacy Policy at any time. Users are encouraged to periodically review this page for changes. By continuing to use the application, users acknowledge and agree to the modified Privacy Policy terms.

                </div>


                <h4 class="my-3">Terms of Service:</h4>
                <div class="mx-3">
                    <h5 class="mt-3">1. Acceptance of Terms:</h5>
                    By accessing or using the Grocery Store web application, users agree to abide by these Terms of Service and all relevant laws and regulations. If users disagree with any of these terms, they are prohibited from using the application.

                    <h5 class="mt-3">2. User Account:</h5>
                    Users are responsible for maintaining the confidentiality of their account and password. They agree to assume responsibility for all activities occurring under their account.

                    <h5 class="mt-3">3. Prohibited Activities:</h5>
                    Users must refrain from engaging in any activity that could harm, disrupt, or interfere with the proper functioning of the application, including but not limited to:
                    - Attempting to gain unauthorized access to any part of the application or its related systems.
                    - Uploading or transmitting malicious code, viruses, or any other harmful software.
                    - Engaging in any activity that violates the privacy or rights of others.

                    <h5 class="mt-3">4. Intellectual Property:</h5>
                    The content of the Grocery Store application, including text, graphics, logos, and images, is the property of the application seller and is protected by copyright and other intellectual property laws. Users agree not to reproduce, distribute, modify, or create derivative works of any material without the seller's prior written consent.

                    <h5 class="mt-3">5. Limitation of Liability:</h5>
                    Users acknowledge that neither the Grocery Store application nor its sellers shall be liable for any direct, indirect, incidental, special, or consequential damages resulting from the use or inability to use the application or any provided services.

                    <h5 class="mt-3">6. Governing Law:</h5>
                    These Terms of Service shall be governed by and construed in accordance with the laws of the jurisdiction where the application seller is located.

                </div>
            </div>

        </div>

    </div>

</div>
